@import url("https://use.typekit.net/koe0wht.css");
:root {
  --fw-1: 300;
  --fw-2: 700;
  --fw-3: 900;
  --fs-1: 1.125rem;
  --fs-2: 1.25rem;
  --fs-3: 2rem;
  --fs-small: 0.75rem;
  --clr-1: #fff;
  --clr-2: #255996;
  --clr-3: #1b3049;
  --clr-4: #171f29;
  --clr-5: #1fd030;
  --clr-dark: rgba(0, 0, 0, 0.25);
  --clr-body: rgba(255, 255, 255, 0.8);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: motiva-sans, sans-serif;
  background-color: var(--clr-4);
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/steam-bg.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-body);
  font-size: var(--fs-1);
  font-weight: var(--fw-1);
  line-height: 1.6;
}

p {
  margin: 0 0 0.25em;
}

a {
  color: var(--clr-1);
}

a:hover {
  color: inherit;
}

strong {
  font-weight: var(--fw-3);
}

.title,
.subheading {
  color: var(--clr-1);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}

.title {
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
}

.subheading {
  margin-top: 0;
  font-size: var(--fs-2);
}

.fineprint {
  font-size: var(--fs-small);
}

.list--unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  margin-bottom: 1em;
}

.button {
  all: unset;
  cursor: pointer;
  display: inline-block;
  background: var(--clr-5);
  padding: 0.5em 1.75em;
  color: rgba(0, 0, 0, 0.7);
  font-weight: var(--fw-3);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform ease-in-out 150;
  transition: -webkit-transform ease-in-out 150;
  transition: transform ease-in-out 150;
  transition: transform ease-in-out 150, -webkit-transform ease-in-out 150;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button + * {
  margin-left: 2em;
}

.logo {
  height: 50px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steam-signup-form {
  display: -ms-grid;
  display: grid;
  width: 960px;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  -ms-grid-columns: 35% minmax(500px, 1fr) 3em;
      grid-template-columns: 35% minmax(500px, 1fr) 3em;
  position: relative;
}

.front {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: var(--clr-2);
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0)), to(var(--clr-dark)));
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), var(--clr-dark));
  padding: 3rem;
  grid-row: 1 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.back {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 3rem;
}

.back::after {
  content: "";
  display: block;
  background: var(--clr-3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.form {
  margin: 1.5em 0 0;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__text {
  all: unset;
  display: block;
  margin: 0.25em 0 1em;
  background: var(--clr-dark);
  width: 100%;
  padding: 0.6em;
}

input[type="email"]:not(:placeholder-shown):invalid {
  color: red;
  outline-color: red;
}

.form__tooltip {
  font-size: var(--fs-small);
  background: var(--clr-dark);
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 0.5em;
  position: relative;
}

.form__tooltip::after {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  padding: 1em;
  background: var(--clr-dark);
  bottom: 1.5em;
  text-align: left;
  width: 250px;
  color: var(--clr-1);
}

.form__tooltip:hover::after {
  display: block;
}

.form__checkbox {
  margin-right: 0.5em;
}

.recaptcha {
  margin: 0.5em 0 1em;
}
/*# sourceMappingURL=main.css.map */