.even-columns {
  display: flex;
  gap: 1em;
}

.even-columns > * {
  width: 100%;
}

/* =========================
   GENERAL STYLES 
   NO RELACIONADOS AO TUTORIAL
============================ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #ee6352;
  --clr-secondary: #d16e8d;
  --clr-accent: #f7f7ff;
  --clr-gradient: linear-gradient(
    -90deg,
    var(--clr-primary),
    var(--clr-secondary)
  );
  --ff-title: bungee, sans-serif;
  --ff-body: canada-type-gibson, sans-serif;
  --fw-body: 300;
  --fw-bold: 800;
  --fw-title: 400;
  --fw-number: 800;
}

body {
  min-height: 100vh;
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: var(--clr-accent);
}

:focus {
  outline: 5px solid var(--clr-accent);
  outline-offset: 3px;
}

.title,
.credits {
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0 2em;
  margin: 0;
  background: var(--clr-gradient);
  position: relative;
  z-index: 1000;
}

.title {
  font-size: 4rem;
  font-family: var(--ff-title);
  font-weight: var(--fw-title);
  color: white;
  text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
}

.title span {
  font-weight: var(--fw-number);
  color: black;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0.125em;
  font-size: 2em;
  z-index: -1;
  opacity: 0.25;
}

.container {
  width: min(95%, 45rem);
  margin: 0 auto;
}

section {
  padding: 3rem 0;
}

.card {
  padding: 1em;
  background: var(--clr-gradient);
  color: white;
  border-radius: 0.25rem;
}
